# Игнорирование объектных файлов и файлов логов
*.o
*.obj
*.log

# Игнорирование каталога tmp и temp
tmp/
temp/

# Игнорирование exe файла в папке где лежит .gitignore
/*.exe

# Игнорируем все логи кроме main.log
!main.log